<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZebraBarcodeScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <ZebraBarcodeScan.Properties.Settings>
                <setting name="MisDbAddress" serializeAs="String">
                        <value>172.16.9.9</value>
                </setting>
                <setting name="MisDbName" serializeAs="String">
                        <value>Central</value>
                </setting>
                <setting name="MisDbUser" serializeAs="String">
                        <value>sysdba</value>
                </setting>
                <setting name="MisDbPassword" serializeAs="String">
                        <value>masterkey</value>
                </setting>
                <setting name="MisDbQueryCheckCode" serializeAs="String">
                        <value>select 
    uuid_to_char(UUID) UUID, 
    DATE_START, 
    DATE_END, COMMENT, 
    USE_STATUS, 
    USE_DATE, 
    USE_SYSTEM_NAME
from BZ_CODES_FOR_PROMOTION
where 
      SERIES = @series and
      ID = @id</value>
                </setting>
                <setting name="MisDbQueryCheckHistnum" serializeAs="String">
                        <value>select FULLNAME, BDATE
from CLIENTS
where HISTNUM = @histnum</value>
                </setting>
                <setting name="MisDbUpdateCode" serializeAs="String">
                        <value>update bz_codes_for_promotion
set use_status = 1,
use_date = @date,
use_histnum = @histnum,
use_system_name = @system
where id = @id and series = @series</value>
                </setting>
        </ZebraBarcodeScan.Properties.Settings>
    </userSettings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>